@using Microsoft.AspNetCore.Identity
@using cansaraciye_ecommerce.Areas.Identity.Pages.Account.Manage
@inject SignInManager<IdentityUser> SignInManager

@{
    var activePage = ViewData["ActivePage"] as string ?? "";
}

<ul class="nav flex-column nav-pills sticky-box">
    <li class="nav-item mb-1">
        <a class="nav-link @(activePage == ManageNavPages.Index ? "active" : "text-dark")" asp-page="./Index">
            <i class="bi bi-person-circle me-1"></i> Profil
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link @(activePage == ManageNavPages.Email ? "active" : "text-dark")" asp-page="./Email">
            <i class="bi bi-envelope me-1"></i> Email
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link @(activePage == ManageNavPages.ChangePassword ? "active" : "text-dark")"
            asp-page="./ChangePassword">
            <i class="bi bi-key me-1"></i> Şifre
        </a>
    </li>
    @* <li class="nav-item mb-1">
        <a class="nav-link @(activePage == ManageNavPages.TwoFactorAuthentication ? "active" : "text-dark")"
            asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-1"></i> İki Adımlı Giriş
        </a>
    </li> *@
    <li class="nav-item">
        <a class="nav-link @(activePage == ManageNavPages.PersonalData ? "active" : "text-dark")"
            asp-page="./PersonalData">
            <i class="bi bi-database-lock me-1"></i> Kişisel Veriler
        </a>
    </li>
</ul>
<style>
    .sticky-box {
        position: sticky;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
        top: 50px;
    }
</style>