@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Ürün</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>
                    <div class="quantity-wrapper">
                        <button class="btn btn-sm btn-outline-danger" onclick="updateCartQuantity(@item.Id, -1)">-</button>

                        <input type="number" id="cart-quantity-@item.Id" value="@item.Quantity" min="1"
                            class="form-control quantity-input" onchange="updateCartQuantity(@item.Id, 0)">

                        <button class="btn btn-sm btn-outline-success" onclick="updateCartQuantity(@item.Id, 1)">+</button>
                    </div>
                </td>

                <td>@(item.Product.Price* item.Quantity)</td>
                <td>
                    @if (item.Quantity > item.Product.Stock)
                    {
                        <span class="text-danger">
                            Stok yetersiz! Maksimum: @item.Product.Stock adet.
                        </span>
                    }
                </td>
                <td>
                    <form asp-action="RemoveFromCart" asp-route-cartItemId="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Siparişi Tamamla Butonu -->
<form asp-action="Checkout" method="get">
    <button id="checkoutButton" type="submit" class="btn btn-success" disabled>Siparişi Tamamla</button>
</form>
